*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
    font-weight: 1500;
    color: #222222;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    background-color:#222222;
    height: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.logo{
    padding:10px;
}
li{
    display: inline-block;
    padding: 5px;
}
a{
    color: #fe7122;
    text-decoration: none;
    border: 2px solid #fe7122;
    font-weight: bold;
    padding: 5px;
    transition: 0.5s ease;
}
a:hover{
    color: #232323;
    background: #fe7122;
    border: 2px solid #fe7122;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fefefe;
    height: 70%;
    text-align: center;

}
.condition{
    height: 30%;
    justify-self: center;
    align-self: center;
}
.summary{
    text-transform: uppercase;
}
.others{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.time, .temp{
    flex:1;
    border-right: 2px solid #222222;
}
.location{
    flex:1;
}
h2, h3{
    padding: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #232323;
    height: 15%;
}
p{
    font-size: 0.8em;
    text-align: center;
    color: #fe7122;
}
span{
    color: #fefefe;
}

.active a{
    background: #fe7122;
    color: #232323;
    border: 2px solid #fe7122;
}
@media screen and (max-width: 720px){
    .top{
        padding: 5px;
        justify-content: space-between;
        flex-direction: column;
    }

    /* li{
       padding-top: 10px;
    } */
}